.search-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  .input-container {
    width: 100%;
    max-width: 350px;

    background-color: #d7d7d7;
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 5px;

    &:hover {
      outline: auto;
    }

    input {
      width: 100%;
      max-width: 300px;
      padding: 6px 5px;
      font-size: 16px;
      border: none;
      outline: none;
      color: #222;
      font-weight: bold;
      background-color: #d7d7d7;
    }

    #img-lupa {
      width: 30px;
      height: 30px;
      margin: 0 4px;
    }
  }

  button {
    background-color: #4ea95c;
    color: #222;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    button {
      margin-top: 0;
    }
  }
}
